.body {
	min-height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	background-color: var(--bg);
	font-family: var(--basic-font);
}

.main {
    width: 100%;
}

.app {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}
