.header-search-bar {
	position: relative;
}

.header-search-bar__label {
	width: 100%;
	min-width: 280px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-search-bar__search-field {
	width: 100%;

	padding: 8px 16px;
	background-color: var(--input-bg);
	border: none;
	border-radius: 5px;

	font-family: var(--basic-font);
	font-size: var(--label-large-size);
	font-weight: var(--label-large-weight);
	line-height: var(--label-large-line-height);
	color: var(--input-text-color);

	transition: all ease 0.2s;
}

.header-search-bar__search-field:focus {
	background-color: var(--input-focus-bg);
	color: var(--input-focus-text-color);
}

.header-search-bar__search-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 300px;
	background-color: rgba(235, 235, 235, 0.8);
	color: var(--input-text-color);
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
}

.header-search-bar__search-list-item {
	list-style: none;
	display: flex;
}

.header-search-bar__search-list-link {
	color: var(--secondary);
	text-decoration: none;
	padding: 5px 0;
	font-size: 16px;
	width: 100%;
}

.header-search-bar__search-list-link:hover {
	text-decoration: underline;
}

.header-search-bar__search-without-result {
	color: var(--secondary);
}
